.competitions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel {
  background: #689775;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 5px grey;
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.panel div {
  font-family: Montserrat;
  margin-top: 0.6rem;
  font-weight: 600;
}

.leagueLogo {
  width: 8rem;
}

.saudiLogo {
  width: 8rem;
  mix-blend-mode: color-burn;
}

.links {
  color: black;
}

.links:hover {
  color: #eceff1;
}

@media screen and (max-width: 415px) {
  .panel {
    width: 11rem;
    font-size: 0.7rem;
    margin: 0.5rem;
  }
  .leagueLogo {
    width: 6rem;
  }
}
