.container {
  margin: 1rem;
  font-family: Montserrat;
}

.matchType {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.matchType div {
  background: black;
  color: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.match {
  background: silver;
  margin: 1rem 0;
  min-width: 20rem;
  /* width: max-content; */
  padding: 0.5rem;
  padding-left: 0.5rem;
  border-left: 6px solid black;
}

.score {
  display: inline;
  float: right;
}

.scores {
  padding: 0.4rem 1rem 0.4rem 0;
  font-weight: 700;
}

.status {
  color: #3f2b5d;
  font-weight: 500;
}

.series {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cricketNav {
  background: #1d1d27;
  color: #fafafa;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-family: Montserrat;
}

.cricketNav div {
  cursor: pointer;
}

.teamScore {
  display: flex;
  justify-content: space-between;
}

.secondinn {
  margin-bottom: 0.7rem;
}

/* TODO: SCORECARD.JSX */
.matchstatus {
  color: red;
}

.innsTitle {
  background: #1d1d27;
  color: #95a7d8;
  font-family: Poppins;
  padding: 0.8rem;
  /* margin: 4rem 0 0 0; */
  font-size: 0.9rem;
}

.scorecard {
  background: #d7b6b8;
  color: #1d1d2e;
  padding: 1rem;
  width: 100%;
  margin: 0;
  position: relative;
}

.player {
  text-align: left;
}

.extra {
  position: absolute;
  top: -30px;
  color: #95a7d8;
  right: 20px;
}

.bowling {
  color: #2cb1a5;
}

.bowling table {
  background: #95a7d8;
}

.bowling .scorecard {
  margin-bottom: 3rem;
}

.bowling .innsTitle {
  margin: 0;
  color: #ffbd4a;
}

.innings {
  font-family: Inter;
  margin: 1rem 0 0.2rem 0.4rem;
}

.cricket-standings {
  color: white;
}

.tourDeSeries {
  font-family: "Inter";
  margin: 1rem;
}

.tourDeSeries h1 {
  margin-bottom: 1rem;
}

.CricketSeries {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 415px) {
  .scorecard {
    padding: 0.5rem;
  }
  .playerDesc {
    font-size: 0.5rem;
  }
  .batsmanRow td,
  .batsmanRow th {
    padding-bottom: 0.7rem;
    padding-right: 0.6rem;
  }
}
