.container {
  margin: 1rem;
  font-family: Montserrat;
}

.matchType {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.matchType div {
  background: black;
  color: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.match {
  background: silver;
  margin: 1rem 0;
  min-width: 20rem;
  /* width: max-content; */
  padding: 0.5rem;
  padding-left: 0.5rem;
  border-left: 6px solid black;
}

.score {
  display: inline;
  float: right;
}

.scores {
  padding: 0.4rem 1rem 0.4rem 0;
  font-weight: 700;
}

.status {
  color: #3f2b5d;
  font-weight: 500;
}

.series {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cricketNav {
  background: #1d1d27;
  color: #fafafa;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-family: Montserrat;
}

.cricketNav div {
  cursor: pointer;
}

.teamScore {
  display: flex;
  justify-content: space-between;
}
