.calendar {
  margin: 1rem;
}

.RaceTitle {
  margin: 1rem;
}

.raceDetails {
  margin: 1rem;
}
.raceDetails h4 {
  margin: 1rem 0 0.4rem 0;
}

.standingsButton {
  margin-top: 1rem;
  text-align: center;
}

.standingsButton button {
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  background: #e4d6a5;
  font-family: Poppins;
}
.standingsButton button:hover {
  background: #ebb353;
}

.constructorsTable {
  width: 200px;
}

.f1select {
  border: none;
  font-family: Montserrat;
  font-size: 1.1rem;
  padding: 0.2rem;
  margin: 0.4rem 0;
}

.grandPrix {
  font-size: 1.1rem;
  font-family: Montserrat;
  margin-top: 1rem;
}

.prix {
  width: max-content;
  margin-top: 0.5rem;
}

.f1Standings-container {
  display: flex;
  flex-wrap: wrap;
}

.f1Table * {
  padding: 0.7rem;
  /* border: 1px solid black; */
}

.f1Table td:nth-child(2),
.f1Table td:nth-child(3),
.f1Table th:nth-child(2),
.f1Table th:nth-child(3) {
  text-align: left;
}

.f1-tbody td,
.f1Table th {
  border: 1px solid black;
}

.f1-tbody tr:first-child {
  background: gold;
}
.f1-tbody tr:nth-child(2) {
  background: silver;
}
.f1-tbody tr:nth-child(3) {
  background: #cd7f32;
}

.f1Table {
  margin: 0 auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 0.1rem;
}

/* Set the width and height of the scrollbar */
.f1Table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track - the background of the scrollbar */
.f1Table::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb - the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
}

/* On hover, increase the brightness of the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* On active, increase the brightness and saturation of the thumb */
::-webkit-scrollbar-thumb:active {
  background: #666;
  filter: saturate(150%);
}

.f1Table table {
  border: 1px solid black;
}

.constructorLogo {
  width: 4rem;
  border: none;
}

.constructorColumn {
  padding: 0;
  display: flex;
  align-items: center;
}

/* table for race.jsx */
/* Set a custom font for the table */
.raceTable {
  border-collapse: collapse;
  overflow-x: scroll;
}

/* Add borders to the table cells */
.raceTable td,
.raceTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Add a background color to the table header cells */
.raceTable th {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}

/* Add hover styles to the table rows */
.raceTable tr:hover {
  background-color: #ddd;
}

/* Add zebra striping to the table rows */
.raceTable tr:nth-child(even) {
  background-color: #f2f2f2;
  background: rgba(128, 128, 128, 0.719);
}

@media screen and (max-width: 600px) {
  .f1Table {
    margin: 0;
  }

  .constructorLogo {
    width: 2rem;
    margin-right: 0.2rem;
  }

  .f1Table * {
    padding: 0.2rem;
  }

  .calendar {
    margin-left: 0.5rem;
  }

  .raceTable td,
  .raceTable th {
    border: 1px solid #464444b6;
    padding: 2px;
  }
}
