.calendar {
  margin: 1rem;
}

.RaceTitle {
  margin: 1rem;
}

.raceDetails {
  margin: 1rem;
}
.raceDetails h4 {
  margin: 1rem 0 0.4rem 0;
}

.f1select {
  border: none;
  font-family: Montserrat;
  font-size: 1.1rem;
  padding: 0.2rem;
  margin: 0.4rem 0;
}

.grandPrix {
  font-size: 1.1rem;
  font-family: Montserrat;
  margin-top: 1rem;
}

.prix {
  width: max-content;
  margin-top: 0.5rem;
}

.f1Standings-container {
  display: flex;
  flex-wrap: wrap;
}

.f1Table * {
  padding: 0.7rem;
  /* border: 1px solid black; */
}

.f1Table td:nth-child(2),
.f1Table td:nth-child(3),
.f1Table th:nth-child(2),
.f1Table th:nth-child(3) {
  text-align: left;
}

.f1-tbody td,
.f1Table th {
  border: 1px solid black;
}

.f1-tbody tr:first-child {
  background: gold;
}
.f1-tbody tr:nth-child(2) {
  background: silver;
}
.f1-tbody tr:nth-child(3) {
  background: #cd7f32;
}

.f1Table {
  margin: 0 auto;
  flex: 0.5;
}

.f1Table table {
  border: 1px solid black;
}

.constructorLogo {
  width: 4rem;
  border: none;
}

.constructorColumn {
  display: flex;
  border: none;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .f1Table {
    margin: 0;
  }

  .constructorLogo {
    width: 3rem;
  }

  .f1Table * {
    padding: 0.3rem;
  }
}
