.fixtures {
  margin: 1rem;
  padding: 5rem;
  padding-top: 0;
  width: 70rem;
  font-family: Montserrat;
  /* background: white; */
}

.matchday {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.matchfixture {
  background: #c9ca91;
  width: 20rem;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0.5rem;
}

.matchfixture h5 {
  display: flex;
  margin: 0.4rem 0;
  align-items: center;
}

.matchfixture h5 img {
  width: 3rem;
}

.matchfixture h5 div {
  margin-left: 1px;
}

.fixtureTeam {
  display: flex;
  justify-content: space-between;
}

.matchdaytext {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.date {
  margin-left: 0.6rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .fixtures {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .matchfixture {
    width: 12rem;
    font-size: 0.8rem;
  }

  .matchfixture h5 img {
    width: 1.5rem;
  }
}
